body {
    font-size: 15pt;
    background-color: white;
    color: black;
}

.dark {
  background-color: #373737;
  color: white;
}

footer {
  background: dimgray;
  color: white;
  height: 150px
}

footer div {
  margin: 20px;
}
footer p a {
  border-radius: 5px;
  background: limegreen;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.label {
  color: #FFFFFF;
  
}
